body{
	width: 96%;
	background-color: grey;
	margin: 0 auto;
	border: 1px solid #666;

	font-size:100%;
	line-height:1.5;
	font-family:sans-serif;
	}
h1{
	text-align: center;
	text-decoration: underline;
	font-family: 'Frijole', cursive;

}
h2 {
	text-decoration: underline;
	text-align: center;
}
h3{
	text-align: center;
}
.track{
		width: 100%;
		background-color: #FF888C;
		padding: 10% 20%;
	}
.session{
		background-color: lightblue;		
}

.session h4{
	font-family: 'Gabriela', serif;
}



	/* apply a natural box layout model to all elements */
*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*image*/
img,video{width: auto; max-width: 100%; height: auto; margin: 0 auto 1em;}